*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    background-repeat: no-repeat;
}
.body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.score-card{
    width: 700px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 48px;
    border: 3px solid rgba(255, 255, 255, 0.289199);
    border-radius: 15px;
    margin-bottom: 48px;
    gap: 384px;
}
.logo {
    border: 1px solid hsl(0, 0%, 100%);
    background:url('./images/logo-bonus.svg');
    margin-left: 33px;
    width: 100px;
    height: 100px;
}

.score-box{
    border: 1px solid white;
    width: 150px;
    height: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 6px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    border-radius: 8px;
    margin-right: 24px;
}
.score-box > p{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: #2A45C2;
}
.score-box > h3{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #565468;
}
.game-section{
    width: 472px;
    height: 463px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pentagon{
    position: relative;
    width: 328px;
    height: 312px;
    background:url("./images/bg-pentagon.svg");
    border: 1px solid white;
}
.circle{
    position: absolute;
    width: 145px;
    height: 148px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.circle:hover::before,.circle:focus::before{
    width: 197px;
    height: 200px;
    position: absolute;
    content: "";
    border: 1px solid green;
    border-radius: 50%;
    background-color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.05;
}
#scissors{
    background-color: #EB9F0E;
    box-shadow:0px 3px 3px #C76C1B;
    top: -24%;
    left: 29%;
}
#spock{
    background-color: #3FB7CD;
    box-shadow:0 3px 3px #2D8DAB;
    top: 10.5%;
    left: -24%;
}
#rock{
    background-color: #DB2E4D;
    box-shadow:0 3px 3px #9D1634;
    bottom: -24%;
    right: -1%;
}
#paper{
    background-color: #4664F4;
    box-shadow:0 3px 3px #2A45C2;
    top: 10.5%;
    right: -24%;
}
#lizard{
    background-color: #834EE3;
    box-shadow:0 3px 3px #5F37A8;
    bottom: -24%;
    left: -1%;
}
.inner-circle{
    width: 111.31px;
    height: 110.82px;
    border-radius: 50%;
    background-color:#DADADA;
    box-shadow:inset 0 3px 3px rgb(254, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules-btn{
    width: 128px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2.5px;
    color: #FFFFFF;
    background-color: transparent;
    align-self: flex-end;
    margin-right: 32px;
    cursor: pointer;
    margin-top: 17px;
}
.rules{
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
.hide{
    display: none;
}
.rules-container{
    width: 400px ;
    height: 461px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    border-radius: 8px;
    padding: 32px;
}
.rules-container > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 232px;
}

header > h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #3B4262;
    text-transform: uppercase;
}
header > button{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.rules-container > img{
    width: 336px ;
    height: 330px;
}
.pre-step-2{
    border: 1px solid white;
    display: flex;
    align-items: center;
    column-gap: 72px;
    max-width: 1000px;
    position: relative;
}
.picks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 97px;
}


.picks > h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
} 

.result{
    width: 220px;
    height: 131px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 16px;
    align-self: stretch;
    margin-top: 170px;
    border: 1px solid green;
}
.result .result-text{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);

}
.result-btn{
    width: 220px;
    height: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    border-radius: 8px;    
    color: #3B4262;
    border: none;
    outline:none;
}
.pre-step-2-circle{
    width: 293px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pre-step-2-inner-circle{
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-color:#DADADA;
    box-shadow:inset 0 8px 3px rgb(254, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}
.computer{
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
}
.shadow{
    border-radius: 50%;
    border: 1px solid green;
    mix-blend-mode: normal;
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0.05), 0 0 0 80px rgba(0,0,0,0.05), 0 0 0 130px rgba(0, 0, 0, 0.05);
    animation: winner 1s ease forwards;
}
@keyframes winner{
    from {opacity: 0.8;} to {opacity: 1;}
}
.pre-step-2-inner-circle > img{
    width: 142px;
    height: 142px;
}
.pre-step-2-circle-scissors{
    background-color: #EB9F0E;
    box-shadow:0px 8px 3px #C76C1B;
}

.pre-step-2-circle-rock{
    background-color: #DB2E4D;
    box-shadow:0 8px 3px #9D1634;
}
.pre-step-2-circle-paper{
    background-color: #4664F4;
    box-shadow:0 8px 3px #2A45C2;
}
.pre-step-2-circle-spock{
    background-color: #3FB7CD;
    box-shadow:0 8px 3px #2D8DAB;
}
.pre-step-2-circle-lizard{
    background-color: #834EE3;
    box-shadow:0 8px 3px #5F37A8;
}
button{
    cursor: pointer;
}

@media   screen and (max-width : 375px){
    .score-card{
        width: 311px;
        height: 96px;
        gap: 146px;
        margin-top: 32px;
        margin-bottom: 99px;
    }
    .score-card > p{
        width: 49px;
        height: 48px;
        margin-left: 24px;
        font-size: 13px;
        line-height: 11px;
    }
    .score-box{
        width: 80px;
        height: 72px;
        border-radius: 4px;
        margin-right: 12px;
    }
    .score-box > p{
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 1.5625px;
    }
    .score-box > h3{
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #565468;
    }
    .rules-btn{
        align-self: center;
        margin-top: 126px;
    }
    .game-section{
        width: 311px;
        height: 305px;
    }
    .pentagon{
        width: 227px;
        height: 227px;
        background-size: contain;
    }
    .circle{
        width: 96px;
        height: 97px;
    }
    .inner-circle{
        width: 74px;
        height: 73px;
    }
    .inner-circle > img{
        width: 47px;
        height: 46px;
    }
    .circle:hover::before{
        width:110px;
        height: 109px;
    }
    .pre-step-2 {
        display: grid;
        grid-template-columns: (repeat(2, 1fr));
        grid-template-areas:
        "picks-1 picks-2"
        "result result";
        place-items: center;
        row-gap: 62px;
    }
    .picks-1{
        grid-area: picks-1;
    }
    .picks-2{
        grid-area: picks-2;
    }
    .result{
        grid-area: result;
    }
      
    .computer{
        width: 110px;
        height: 110px;
    }
    .pre-step-2-choices{
        column-gap: 67px;
    }
    .picks{
        row-gap: 28px;
        flex-direction: column-reverse;
    }
    .picks > h3{
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 1.875px;
        color: #FFFFFF;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
        text-transform: uppercase;
    }
    .pre-step-2-circle{
        width:130px; 
        height:133px;
    }
    .pre-step-2-inner-circle{
        width: 100px;
        height: 100px;
    }
    .pre-step-2-inner-circle > img{
        width: 63px;
        height: 63px;
    }
    .pre-step-2-circle-lizard{
        box-shadow:0px 4px 3px #5F37A8;
    }
    .pre-step-2-circle-paper{
        box-shadow:0px 4px 3px #2A45C2;
    }
    .pre-step-2-circle-rock{
        box-shadow:0px 4px 3px #9D1634;
    }
    .pre-step-2-circle-scissors{
        box-shadow:0px 4px 3px #C76C1B;
    }
    .pre-step-2-circle-spock{
        box-shadow:0px 4px 3px #2D8DAB;
    }
    .rules-container{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .rules-container > img{
        width: 311px ;
        height: 305px;
    }
    header > button{
        position: absolute;
        bottom: 65px;
        left: 178px;
    }
    header > h3{
        margin-top: 95px;
        margin-bottom: 96px;
    }
    .rules-btn{
        margin-top: 245px;
    }
    .shadow{
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.05), 0 0 0 60px rgba(0,0,0,0.05), 0 0 0 100px rgba(0, 0, 0, 0.05);
    }
    .result{
        margin-top:0;
    }
}
.hide{
    display: none;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }